   {% if site.redalerts == "all" %}
     <div class="stickystart redalert"><div></div><div class="alert">{% if fr %}{% capture alerte %}{% include {{ site.redalert_fr-text }} %}{% endcapture %}{{ alerte | markdownify }}
     {% else %}{% capture alert %}{% include {{ site.redalert_en-text }} %}{% endcapture %}{{ alert | markdownify }}
   {% endif %}</div>{% include alert/closebtn.html %}</div>{% endif %}
   {% if site.redalerts == "some" %}{% for each in site.redalert_pages %}
     {% if page.trans == each.page_trans %}<div class="stickystart redalert"><div></div><div class="alert">
       {% if fr %}{% capture alerte %}{% include {{ site.redalert_fr-text }} %}{% endcapture %}{{ alerte | markdownify }}{% elsif page.trans == each.page_trans %}{% capture alert %}{% include {{ site.redalert_en-text }} %}{% endcapture %}{{ alert | markdownify }} {% endif %}  </div>{% include alert/closebtn.html %}</div>{% endif %}
   {% endfor %}
   {% endif %}
       {% comment %}Green alerts now{% endcomment %}
   {% if site.greenalerts == "all" %}
     <div class="stickystart greenalert"><div></div><div class="alert">{% if fr %}{% capture alerte %}{% include {{ site.greenalert_fr-text }} %}{% endcapture %}{{ alerte | markdownify }}
     {% else %}{% capture alert %}{% include {{ site.greenalert_en-text }} %}{% endcapture %}{{ alert | markdownify }}
   {% endif %}</div>{% include alert/closebtn.html %}</div>{% endif %}
   {% if site.greenalerts == "some" %}{% for each in site.greenalert_pages %}
     {% if page.trans == each.page_trans %}<div class="stickystart greenalert"><div></div><div class="alert">
       {% if fr %}{% capture alerte %}{% include {{ site.greenalert_fr-text }} %}{% endcapture %}{{ alerte | markdownify }}{% elsif page.trans == each.page_trans %}{% capture alert %}{% include {{ site.greenalert_en-text }} %}{% endcapture %}{{ alert | markdownify }} {% endif %}  </div>{% include alert/closebtn.html %}</div>{% endif %}
   {% endfor %}
   {% endif %}
